# Dependencies
/node_modules

# Build output
/dist
/tmp
/out-tsc
/bazel-out

# Angular cache
/.angular/cache
.sass-cache/

# IDE
/.idea
/.vscode/*
!/.vscode/extensions.json
.project
.classpath
*.launch
.settings/

# Misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System
.DS_Store
Thumbs.db
