<div class="container-launches">
  <h1 class="mat-headline-medium title">SpaceX Launch Explorer</h1>

  <mat-form-field appearance="outline" class="search-field">
    <mat-label>Search for a mission...</mat-label>
    <input
      matInput
      type="text"
      (input)="onSearchChange($event.target.value)"
      placeholder="Ex. Crew-1"
    />
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  @if (showSpinner()) {
  <div class="launches-status">
    <mat-spinner diameter="40" />
  </div>
  } @else if (error(); as error) {
  <div class="launches-status launches-status--error">
    <mat-icon>error_outline</mat-icon>
    <p>{{ error }}</p>
  </div>
  } @else {
  <div class="launches-grid">
    @for (item of filteredLaunches(); track item.launch.flight_number) {
    <app-launch-card
      [launch]="item.launch"
      [isFavorite]="item.isFavorite"
      (toggleFavorite)="onToggleFavorite($event)"
    />
    } @empty {
    <p>No launches found</p>
    }
  </div>
  }
</div>
